* {
  box-sizing: border-box;
}

:root {
  --bg-color: rgb(31, 31, 31);
  --operand-color: rgb(51, 51, 51);
}

body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 36px;
}

.main-container {
  margin: 5%;
  display: flex;
  justify-content: center;
}

.calc-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg-color);
  width: 510px;
}

.calc-display {
  width: 500px;
  text-align: right;
  margin: 5px 5px;
  padding: 30px;
  font-size: 60px;
  background-color: var(--bg-color);
  color: white;
}

.calc-btns {
  display: grid;
  width: 500px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  text-align: center;
  gap: 2px;
}

svg {
  fill: white;
}

.btn {
  width: 100%;
  height: 100%;
  background-color: grey;
  color: white;
  padding: 30px;
}

.operand {
  background-color: var(--operand-color);
}

.btn:hover {
  background-color: slategrey;
}
